<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494225836749-adk5v4a6eputp3e4a3eojfcf3t0fm384.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494225836749-adk5v4a6eputp3e4a3eojfcf3t0fm384</string>
	<key>API_KEY</key>
	<string>AIzaSyD5-zT21r4wDGBDGNg90Kgdt-ZKRPFb6-U</string>
	<key>GCM_SENDER_ID</key>
	<string>494225836749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.james.PolkarIOS</string>
	<key>PROJECT_ID</key>
	<string>polkar-99d95</string>
	<key>STORAGE_BUCKET</key>
	<string>polkar-99d95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494225836749:ios:95bc991e06ec06b3cd7784</string>
</dict>
</plist>